@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin:0;
    padding: 0;
}
body{
    font-family: 'Roboto';
}
.section-one{
    /* max-width:900px; */
    background-color: blue;
    width: 75.8%; height: 100px; position: absolute; left: 23%; 
    margin-top: 5px;
}
.container-one{
    /* 1055 */
    display: flex;
    flex-direction: column;
}
.name{
    color:aliceblue;

}