.work{
    /* color:white;
    background:#19456b;
    padding-left: 0.5%;
    width:80%;
    /* margin-bottom: 1%; */
    /* margin-top: 4%;
    height:5%; */
    color:white;
    background:#19456b;
    padding: 0.5%;
    width:95%;
    margin-bottom: 1%;
    margin-top: 3.5%;
}
li{
    margin:2% 0;
}